*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

span {
  display: inline-block;
  inline-size: 24px;
  block-size: 24px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#menu {
  background-image: url("/menu.svg");
}

#apps {
  background-image: url("/apps.svg");
}